/*#FFF1E7 offwhite/red */
/*#A64C4C deep red */
/*#27AE98 teal/mint*/
/*#2FA4B6 boardwalk blue*/
/*#BAD9DB greyish blue*/
/*#843c3c deeper red*/
/*#EFE6DD eggshell*/
/*#BBCBCB pastel blue*/
/*#837A75 sonic silver*/

html{
  background-color: white;
}
h1{
  font-family: 'Libre Baskerville', serif;

}
.titles_nav, .subtitles_nav{
  font-family: 'Slabo 27px', serif;
}
#no_results_message {
  display: none;
}
#form_post{
  display: none;
}

.results, .ul_outer{
  display: flex;
}

.banner {
  display: flex;
}

@media (max-width: 640px) { 
  .results {
    flex-direction: column;
    margin-top: 190px;
  }
  .ul_outer, .nav_bar {
    flex-direction: column;
  }
  .li_outer{
/*    border: 1px solid #843c3c;*/
  }
/*  .frame {
    padding-bottom: 10px;
  }*/
}

@media (min-width:380px) and (max-width: 639px) { 
  .results {
    flex-direction: row;
    flex-wrap: wrap;
/*    margin: auto;*/
  }
  .ul_outer, .nav_bar {
    flex-direction: column;
  }
    .frame {
    width: 42%;
    height: 200px;
    margin: auto;
  }
  .card{
    height: 100%;
  }
}

@media (min-width: 641px) { 
  .results {
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }
  .ul_outer, .nav_bar {
    flex-direction: row;
  }
  .li_outer{
    width: 25%;
  }
  .frame {
    width: 25%;
    height: 200px;
    margin: auto;
  }
  .card{
    height: 100%;
  }
  #nav li:hover ul {
  display: block;
  z-index: 3000;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
}

.banner_title {
  padding-left: 2.2em;
}

.li_outer {
/*  border: 1px solid #843c3c; */
/*  width: 25%;*/
/*  height: 100%;*/
/*  float: left;*/
  background-color: #A64C4C;
}

#nav li {
  position: relative;
}
#nav li a {
  color: #EFE6DD;
  display: block;
}

.ul_outer{
  max-width: 1000px;
  margin: auto;
}

/*.banner_container {
  background-color: #843c3c;
}*/

.banner {
  color: #EFE6DD;
  max-width: 1000px;
  margin: auto;
  background-color: #843c3c;

}

.results {
  max-width: 1000px;
}

/*#FFF1E7 offwhite/red */
/*#9D2323 deep red */
/*#27AE98 teal/mint*/
/*#2FA4B6 boardwalk blue*/
/*#BAD9DB greyish blue*/
/*#843c3c deeper red*/

.frame {
  background-color: #FFF1E7;
  padding: 10px;
  padding-bottom: 30px;
  margin-top: 20px;

}

.card {
  border: 2px solid #837A75;
  padding-bottom: 20px;

}

.card_title {
  padding-top: 1px;
  background-color: #BBCBCB;
  border-bottom: 2px solid #837A75;
  color: #1C2321;
  text-align: center;
}

.card_content {
/*  padding-top: 1px;
  padding-bottom: 200px;*/
  background-color: #FFF1E7;
/*  max-height: 200px;*/

}

#form_post {
  float: center;
}

.word, .definition {
  text-align: center;
}

#submit_post{
  display: block;
  margin: 0 auto;
  width: 50%;
}


.frame
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.frame:before, .frame:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.frame:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}


#filter_year {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: white;
}

#filter_year select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

#filter_year select:focus {
  outline: none;
}

.titles_nav_class, .titles_nav_part {
  cursor: default;
}

.li_inner  {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}
a, a:hover {
  text-decoration: none;
}

#nav {
  margin-top: -16px;
}

#ul_outer {
  height: 65px; 
  background-color: #4ECDC4;
}


.titles_nav {
  height: 100%;
  font-size: 25px; 
  line-height: 65px; 
  text-align: center;
}


.li_outer:hover{
  background-color: #843c3c;
  z-index: 3000;
}
  
#nav li ul {
  background-color: #A64C4C;
  display: none;
}

.subtitles_nav_year, .subtitles_nav_part {
  font-size: 20px; 
  border-top: 1px solid #843c3c;
  padding: 10px; 
}
.subtitles_nav_year:hover, .subtitles_nav_part:hover {
  background-color: #843c3c;
  z-index: 3000;
/*  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}

#button_submit:hover {
  background-color: #843c3c;
  color: black;
}

#search_text:hover {
  color: #F7FFF7
}

#submit {
  height: 100%;
  width: 100%;
  color: #FFF1E7;
  background-color: #A64C4C;
}

#get_terms{
  width: 100%;
  height: 50px;
  vertical-align: 50px;
  display: block;
  opacity: 0;
}
