h1 {
  font-family: 'Libre Baskerville', serif;
}

body {
  margin: 0;
}

.banner_container {
  background-color: #843c3c;
  width: 100%;
}

.nav_bar {
  background-color: #A64C4C;
}

.titles_nav, .subtitles_nav {
  font-family: 'Slabo 27px', serif;
  z-index: 1;
}

#no_results_message, .page_button_container, .form_post, .add_word {
  display: none;
}

.results, .ul_outer, .frame_post_container, .results_static, .banner {
  display: flex;
}

@media (max-width: 379px) { 
  .results, .frame_post_container {
    flex-direction: column;
    margin-top: 126px;
  }
  .results_static, .ul_outer, .nav_bar {
    flex-direction: column;
  }

  .nav_bar {
    margin-bottom: 0px;
  }

  .frame {
    width: 93%;
    height: 200px;
    margin: auto;
    padding: 10px;
    padding-bottom: 33px;
    margin-top: 23px;
    margin-bottom: 1em;
  }

  .card{
    height: 100%;
  }

  .ul_inner, .card_static_2, .card_static_3 {
    display: none;
  }

  .select_container {
    margin-top: -16px;
  }


}

@media (min-width:380px) and (max-width: 640px) { 
  .ul_outer {
    padding-bottom: 67px;
  }

  .results, .results_static {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ul_outer, .nav_bar {
    flex-direction: column;
  }

  .nav_bar {
    margin-bottom: 62px;
  }

  .frame {
    width: 42%;
    height: 200px;
    margin: auto;
    padding: 10px;
    padding-bottom: 33px;
    margin-top: 23px;
    margin-bottom: 1em;
  }

  .card {
    height: 100%;

  }

  .frame_post {
    margin-top: 35px;
  }

  .card_static_3 {
    display: none;
  }

  .select_container {
    margin-top: -19px;
  }
}

@media (min-width: 641px) { 
  .results, .results_static {
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }

  .ul_outer, .nav_bar {
    flex-direction: row;
  }

  .nav_bar {
    margin-bottom: -8px;
  }

  .li_outer {
    width: 50%;
  }

  .frame {
    width: 25%;
    height: 200px;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 33px;
    margin-top: 20px;
    margin-bottom: 4em;
  }

  .frame_post_container {
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }

  .card {
    height: 100%;
  }

  #nav li:hover ul {
  display: block;
  z-index: 3000;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
}

.banner_title {
  padding-left: 7%;
}

.li_outer {
  background-color: #A64C4C;
  z-index: 1;
}

#nav li {
  position: relative;
}

#nav li a {
  color: #EFE6DD;
  display: block;
  font-family: 'Roboto', sans-serif;
}

.ul_outer {
  max-width: 1000px;
  margin: auto;
}

.banner {
  color: #EFE6DD;
  max-width: 1000px;
  margin: auto;
  background-color: #843c3c;
}

.results, .frame_post_container {
  max-width: 1000px;
}

.frame {
  background-color: #FFF1E7;
}

.card {
  border: 2px solid #837A75;
  padding-bottom: 20px;
}

.card_title {
  padding-top: 1px;
  background-color: #BBCBCB;
  border-bottom: 2px solid #837A75;
  color: #1C2321;
  text-align: center;
}

.card_content {
  background-color: #FFF1E7;
}

.word, .definition {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #2C363F;
}

.submit_post {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.text-input {
  width: 75%;
}

.frame {
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.frame:before, .frame:after {
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
}

.frame:after {
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
}

.titles_nav_class, .titles_nav_part, .titles_nav_user {
  cursor: default;
}

.li_inner  {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a, a:hover {
  text-decoration: none;
}

#nav {
  margin-top: -16px;
}

#ul_outer {
  height: 65px; 
  background-color: #A64C4C;
}

.titles_nav {
  height: 100%;
  font-size: 25px; 
  line-height: 65px; 
  text-align: center;
}

.li_outer:hover {
  background-color: #843c3c;
  z-index: 3000;
}
  
#nav li ul {
  background-color: #A64C4C;
  display: none;
}

.subtitles_nav_year, .subtitles_nav_part, .subtitles_nav_user {
  font-size: 20px; 
  border-top: 1px solid #843c3c;
  padding: 10px; 
}

.subtitles_nav_year:hover, .subtitles_nav_part:hover, .subtitles_nav_user:hover {
  background-color: #843c3c;
  z-index: 3000;
}

#button_submit:hover {
  background-color: #843c3c;
  color: black;
}

#search_text:hover {
  color: #F7FFF7
}

#submit {
  height: 100%;
  width: 100%;t
  color: #FFF1E7;
  background-color: #A64C4C;
}

#get_terms {
  width: 100%;
  height: 50px;
  vertical-align: 50px;
  display: block;
  opacity: 0;
}

.no_results_message {
  max-width: 1000px;
  margin: auto;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  color: #505050;
}

.student_select, .teacher_select {
  color: #40798C;
}

.user_select {
  margin-right: auto;
}

.select_container {
  padding-top: 1px;
  background-color: #BBCBCB;
  border: 2px solid #837A75;
  color: #1C2321;
  text-align: center;
  margin-bottom: 11px;
}
  
.instructions_container {
  max-width: 1000px;
  padding-top: 20px;
  margin: auto;
}

h3, .page {
  font-family: 'Roboto', sans-serif;
}

.page_button_container {
  max-width: 1000px;
  margin: auto;
  margin-top: -10px;
  text-align: center;
  margin-bottom: 5em;
}

.next_page_button, .previous_page_button, .page {
  display: inline-block;
}

.next_page_button, .previous_page_button {
  color: #1C2321;
}

.next_page_button {
  margin-right: 20px;
}

.fa-arrow-left:before {
  padding-right: 10px;
}

.fa-arrow-right:before {
  padding-left: 10px;
}

.page {
  font-size: 18px;

}

footer {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #843c3c;
}

.footer_p {
  color: #EFE6DD;
  text-align: center;
  line-height: 20px;
}

